@page "/"
@inject MonkeyService monkeyService

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var monky in monkeys)
        {
            <tr>
                <td><img src="@monky.Image" width="70" height="70" /></td>
                <td>@monky.Name</td>
                <td>@monky.Details</td>
            </tr>
        }

    </tbody>
</table>


@code{
    private List<Monkey>? monkeys;
    protected override async Task OnInitializedAsync()
    {
        monkeys = new List<Monkey>();
        monkeys = await monkeyService.GetMonkeys();
    }
}



